{% extends 'books/base.html' %}

{% block start %}
<div class="container mx-auto p-6">
  <h1 class="text-4xl font-bold mb-4 text-center text-blue-700">Contact Us</h1>
  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="text-lg text-gray-700">
      If you have any questions, feel free to reach out to us. We are here to help!
    </p>
    <div class="mt-4">
      <p class="text-lg text-gray-700"><strong>Email:</strong> pratikpradhan566@mail.com</p>
      <p class="text-lg text-gray-700"><strong>Phone:</strong> 9008960661</p>
      <p class="text-lg text-gray-700"><strong>Address:</strong> Mumbai, Maharashtra, India</p>
    </div>
  </div>
</div>
{% endblock %} 